<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">

<head>
    {% block metadata %}
        {% include "theme::partials/metadata" %}
    {% endblock %}
</head>

<body>

{% include "theme::partials/navigation" %}

<div id="content">
    <div class="container">
        {% include "theme::partials/breadcrumbs" %}
        {% include "theme::partials/messages" %}

        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}
                    {% include "rage.module.account::partials/sidebar" %}
                {% endblock %}
            </div>
            <div class="col-md-9">
                {% block menu %}
                    {% include "rage.module.account::partials/menu" %}
                {% endblock %}
                {% block buttons %}
                    {% include "rage.module.account::partials/buttons" %}
                {% endblock %}

                {% block content %}{% endblock %}
            </div>
        </div>

        {% if (request_path() == '/') %}
            <hr> {% include "theme::partials/posts" %}
        {% endif %}
    </div>
</div>

{% include "theme::partials/footer" %}
{% include "theme::partials/scripts" %}

</body>

</html>